.hero {
    background-image: url(/Hero1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 4.5em;
    height: 42rem; 
    padding: 3rem;
}

.hero-text {
    color: var(--color-white);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    width: 40%;
    position: absolute;
    top: 8rem;
}

.hero-text h1 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.hero-text p {
    font-size: 1.2rem;
}

.hero button  {
    align-self: start;
    padding: 15px 40px;
    position: absolute;
    bottom: 4rem;
}

@media (max-width: 768px) {
    .hero-text {
        width: 60%;
    }

    .hero-text h1 {
        font-size: 1.1em;
    }

    .hero-text p {
        font-size: .8em;
    }
}